@model askchuck.web.Models.FactCategoryList
@{
    ViewData["Title"] = "Chuck Norris Facts";
}

<div class="jumbotron col-sm-12 text-center">
    <img src="../images/chuck.png" class="img-fluid" alt="chuck norris image" style="width:40%;">
    <br /><br />


    @using (Html.BeginForm())
    {
          <div class="btn-group btn-group-justified" data-toggle="buttons">
              @for (int i = 0; i < Model.FactCategories.Count; i++)
              {
                  @if (Model.SelectedCategory == Model.FactCategories[i].Text)
                  {
                      <label class="btn btn-@Model.FactCategories[i].ButtonStyle active focus">
                          @Html.RadioButtonFor(m => m.SelectedCategory, Model.FactCategories[i].Text, new { @name = "categories" })
                          @Model.FactCategories[i].Text<br />
                      </label>
                  }
                  else
                  {
                      <label class="btn btn-@Model.FactCategories[i].ButtonStyle">
                          @Html.RadioButtonFor(m => m.SelectedCategory, Model.FactCategories[i].Text, new { @name = "categories" })
                          @Model.FactCategories[i].Text<br />
                      </label>
                  }
              }
          </div>         

        <br /><br />

        <p class="lead">@ViewBag.Fact</p>
        <hr>
        
        <input type="submit" value="Ask Chuck" class="btn btn-primary btn-lg" />
    }
</div>